<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Update Task</title>
</head>
<body>
    <h1>Update Task</h1>
    <div class="container">
    <form action="/update/{{ task[0] }}" method="POST">
        <label for="description" class="text">Task Description:</label>
        <input type="text" name="description" value="{{ task[1] }}" required>
        <br><br>
        <label for="status" class="text">Status:</label>
        <label class="text">
        <input type="checkbox" class="text" name="status" value="1"  {% if task[2] == 1 %}checked{% endif %} > Complete
        <br><br>
        </label>
        <button type="submit" class="button">Update Task</button>
    </form>
    </div>
</body>
</html>
