body {
    background-image: url('/static/images/bg3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
    color: black;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom:50px;
    font-weight: bold;
}

h2{
    color: black;
    font-family: 'Courier New', monospace;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom:50px;
    font-weight: bold;
}

textarea {
    width: 40%;   
    height: 100px; 
    font-size: 16px; 
    padding: 10px;  
    border-radius: 8px; 
}


.text{
    color:aliceblue;
    font-family: 'Courier New', monospace;
    font-size: medium;
    padding-top:10px;
    padding-bottom:10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] {
    width: 20px;  
    height: 20px; 
    margin-right: 5px; 
    margin-top: 10px;  
}

.button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
}


